

.panel-join
{
    background-size: cover;
    padding: 50px;
}

.panel-great-projects
{
    padding: 50px;
    background-size: Cover;
    background-color: #43d728;
}

.panel-outside
{
    padding: 50px;
    background-size: cover;
    background-color: #59b3cb;
}

