

.panel-join
{
    background-size: cover;
    padding: 50px;
}

.panel-great-projects
{
    padding: 50px;
    background-size: Cover;
    background-color: #43d728;
}

.panel-outside
{
    padding: 50px;
    background-size: cover;
    background-color: #2bb1c3;
}

.panel-meeting-mode
{
    padding: 50px;
    background-size: Cover;
    background-color: #afdf33;
}

